/* --------------------*/
/* ------ Main ------ */
/* ----------------- */

body {
    margin:0;
    padding:0;
    background-color: #f3f3f3;
    background-size: cover;
    background-attachment: fixed;
    font-family: arial;
}

p {
    margin: 0;
    padding: 0;
}

textarea{
    resize: none;
    outline: none;
}

input[type="submit"] {
    border: 3px solid #6e4381;
    background-color: white;
    padding: 8px 14px;
    color: #6e4381;
    cursor: pointer;
    margin-bottom: 10px;
	outline: none;
}

input[type="submit"]:hover {
	color: #A465CC;
	border-color: #A465CC;
}


.container {
    margin: 0 auto;
    width: 1000px;
}

.clear {
    clear: both;
}

/* ----------------------*/
/* ------ Header ------ */
/* ------------------- */
.header {
    background-color: #6e4381;
    padding: 10px 10px 0 10px;
	color: #fff;
}

.li_opmaak1 {
    float:right;
}



.headerimg {
    width: 20%;
    float: left;
}

.headerimg img {
    width: 175px;
}

.titel{
	font-size: 36pt;
	float: left;
	margin-top: 55px;
}

/* ---- Social media bar ---- */
.social{
    width:40px;
    height:160px;
    background-color:#6e4381;
    float:left;
    position: fixed;
    margin-top:200px;
    border-radius: 0px 20px 20px 0px;
}

.image_social {
	margin-top: 4px;
    margin-left: 5px;
    margin-bottom: 2px;
    height: 30px;
    width: 30px;

}
.image_social:hover {
    border: 2px solid white;
    border-radius: 20px;
    margin-left: 3px;
    margin-top: 2px;
    margin-bottom: 0px;
}

/* ---- Informatie ---- */
.information{
    float:right;
    margin-right:40px;
    color:white;
}

.information ul{
    list-style-type: none;
    color:white;
    text-align: right;
    margin-top:0px;
}

.information a{
    color:white;
    text-decoration: none;
}

/* ---- Avatar ---- */
.avatar{
    width: 100px;
    height: 100px;
    float: right;
    background-color: #f3f3f3;
}

/* ---- Navigatie ---- */
.nav {
    float: left;
    height: 50px;
    width: 100%;
    background-color: #6e4381;
    list-style: none;
}
.nav li{
    display: inline-block;
    color:white;
    text-decoration: none;
    text-align: center;
}

.nav a{
    border-bottom: 4px solid #6e4381;
    background-color: #6e4381;
    color: white;
    text-decoration: none;
    width: 100px;
    padding: 12px;
    
}

.nav a:hover{
    border-bottom: 3px solid white;
    color: #fff;
}

/* ----------------------*/
/* ------ Inhoud ------ */
/* ------------------- */
.inhoud {
    background-color: white;
    min-height: 100%;
    padding: 20px;
}

.inhoud_home {
    background-color: white;
    min-height: 100%;
}


.homeFoto img{
    max-height: 400px;
    max-width: 840px;
    float: left;
}

/* ---- Homepage ---- */
.homeTitel{
    float: left;
    position: absolute;
    font-size: 70%;
    padding-left: 15px;
}

.homeTekst{
    width: 248px;
    height: 300px;
    padding-top: 100px;
    text-align: center;
    float: right;
}

/* ---- Portfolio page ---- */
.titel_naam {
    width: 960px;
    height: 100px;
    font-size: 50px;
    text-align: center;
}

.project_upload {
    width: 300px;
    height: 400px;
    background-color: #6e4381;
    margin-right: 40px;
    padding-bottom: 10px;
    display: inline-block;
    
}

.upload_top {
	padding: 5px;
}

.upload_top input {
	margin-top: 5px!important;
}

.project_upload_title {
    font-size: 20pt;
	color: #fff;
}

.project_upload_file {
    width: 300px;
    height: 250px;
    float: left; 
    background-color: #f3f3f3;
}

.beschrijving {
   background-color: white;
   border: 2px solid #6e4381;
   width: 200px;
   height: 200px;
   float: right;
}

.beschrijving textarea{
    width:195px;
    height:195px;
}

/* ---- Form fields ---- */
.formlabel {
    width: 200px;
    display: inline-block;
    margin-bottom: 15px;
}

input[type="text"], 
input[type="password"],
input[type="date"],
input[type="number"],
#select_country {
	outline: none;
    border: none;
    padding: 3px;
	width: 200px;
	height: 17px;
    background-color: #f3f3f3;
    border-right: 2px solid grey;
    border-left: 2px solid grey;	
}

#select_country {
	width: 210px;
	height: 23px;
	margin-left: -4px;
}

input[type="text"]:focus, 
input[type="password"]:focus,
input[type="date"]:focus,
input[type="number"]:focus,
#select_country:focus {
	border-top: 2px solid grey;
	border-bottom: 2px solid grey;
	padding-top: 1px;
	padding-bottom: 1px;
}

/* ---- Comment page ---- */
.tabel{
    width: 960px;
    height: 100%;
}

.post{
    width: 960px;
    height: 118px;
    padding-bottom: 50px;
    float: bottom;
}

/* 	Unknown purpose
	Wie weet hier iets van?

.gebruiker{
    width: 100px;
    height: 120px;
    float: left;
}

.naam{
    width: 100px;
    height: 20px;
    text-align: center;
    background-color: lightgrey;
}

.profielfoto{
    width: 100px;
    height: 100px;
}

.message{
    width: 820px;
    padding: 10px;
    height: 80px;
    float: left;
    background-color: silver;
}

.date{
    width: 770px;
    height: 20px;
    padding-right: 5px;
    float: left;
    text-align: right;
    background-color: lightgrey;
}

.time{
    width: 60px;
    height: 20px;
    padding-right: 5px;
    float: left;
    background-color: lightgrey;
}
*/

/* ----------------------*/
/* ------ Footer ------ */
/* ------------------- */
.footer {
    background-color: #6e4381;
    min-height: 60px;
    padding: 10px;
}

.school{
    width: 250px;
    float: left;
    padding-top: 25px;
    color: #fff;
}

.link{
    width: 720px;
    float: left;
}

.link a{
    color: #fff;
}

.link a:hover {
	color: #A465CC;
}

.linkStyle{
    width: 240px;
    float: left;
    font-size: 75%;
    line-height: 15pt;
}